<div class="box_2" style="margin-bottom:5px;" align=center>
	<h3 class="title" align=left><%= t("single.tools")  %></h3>

	<div class="box_<%= (params[:controller] == "logs" && params[:action] == "index") ? "1" : "2" %>" style="margin-bottom:0px;">
		<img src="/themes/<%= @setting[:theme] %>/images/icons/logs.png" class="icon"> 				
		<%= link_to t("single.system") + " " + Log.model_name.human(:count => :other), {:action => "index", :controller => "logs"} %></a>				
	</div>
</div>

