<div class="section">
	<div id="side">
		<%= render :partial => "/tools/menu" %>
	</div>
	<div id="main">						
		<div class="header">					
			<table style="width:100%;" cellpadding=0 cellspacing=0>
				<tr>
					<td align=left>
						<h2 class="title">
							<%= t("single.tools") %> 
						</h2>						
					</td>
					<td align=right >
					</td>
				</tr>
			</table>
		</div>
	</div>

</div>