<table align=center style="width:100%" cellpadding=0 cellspacing=0>
	 <tr>
	  <td align=left class="sidebar_column" valign=top style="padding:0px;text-align:center">
			<%= render :partial => "/tools/menu" %>

	  </td>
	  <td style="width:5px;">
	  	
	  </td>
	  <td align=left valign=top >
			<h1 class="title">Tools</h1>
	  		<div class="spacer"></div>
			
	  </td> 
	 </tr>
</table>

