<% if PluginReview.can?(@logged_in_user, :view) %>
	<% review_score = PluginReview.record(item).approved.average(:review_score) %>
	<% review_score ||= 0 %>
	<% if review_score > 0 || @setting[:plugin_review][:review_type] == "Stars" %>
		<span title="<%= PluginReview.model_name.human %> <%= PluginReview.human_attribute_name(:average)%>">		
			<%= link_to(score(:type => @setting[:plugin_review][:review_type], :max => @setting[:plugin_review][:score_max].to_i, :value => review_score), {:action => "view", :controller => "items", :id => item, :anchor => plugin.model_name.human(:count => :other)}) %>
		</span>
	<% end %>
<% end %>