/* 
	Vault Theme For Opal 
*/

/* Links */
a:visited, a:link{text-decoration:none;color:white} a:hover{text-decoration:underline;}
a.highlight:visited, a.highlight:link{text-decoration:none;color:#FFB561} a.highlight:hover{text-decoration:none;color:white}
a.about_link:visited, a.about_link:link { color:#358F08;text-decoration:none;font-size:10px;font-style:italic }a.about_link:hover{font-style:normal;}
a.category_link:visited, a.category_link:link { color:white;text-decoration:none;font-size:12px }a.category_link:hover{text-decoration:underline;}
a.user_link:visited, a.user_link:link { color:white;text-decoration:none;font-size:10px }a.user_link:hover{color:#C8FFBF }
a.big_link:visited, a.big_link:link{font-size:22px;}
a.big_link:hover{font-size:22px;color:#17505F}
.main_menu a:visited, .main_menu a:link{color:white;text-decoration:none;font-size:20px;} .main_menu a:hover{color:#FFB36F;text-decoration:none;font-size:20px;}
.item_box_detailed div.title a:visited, .item_box div.title a:link{text-decoration:none}
.item_box_detailed div.title a:hover{color:#FFB561;text-decoration:none;}
a.plugin_title_link:visited,a.plugin_title_link:link {color:#FABE6D}
a.plugin_title_link:hover{color:#FFAB3F;text-decoration:none;}
.plugin_box div.title a:hover{text-decoration:none;color:#FFAB3F;}/* Prevent ItemObject Section Titles from hovering like regular a:hover */

/* Images */
img.thumbnail, img.pinky:hover{border:0px solid black;opacity:0.70;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7}
img.thumbnail:hover, img.pinky:hover{border:0px solid #D7F64A;opacity:1.00;filter:alpha(opacity=100);-moz-opacity:1.0;-khtml-opacity: 1.0}
img.list_type{opacity:0.70;padding:3px;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;}
img.list_type:hover, img.list_type_selected{border:1px solid #999;background:#303030;padding:2px;opacity:1.00;filter:alpha(opacity=100);-moz-opacity:1.0;-khtml-opacity: 1.0;;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
img.avatar_normal{border:1px solid #3D3D3D;}
img.avatar_small{border:1px solid #3D3D3D;;width:50px;height:50px;}
img.avatar_tiny, img.pinky{border:1px solid #3D3D3D;;width:20px;height:20px;vertical-align:middle}
img.loading{border:1px solid #666;background:white;padding:5px;} 

/* Main HTML Tags */
body{background:url(/themes/vault/images/body_bg.png) repeat-x #828282;font-family:Trebuchet MS;margin:0px;font-size:12px;color:white}
h1, h2, h3, h4, h5, h6{margin:0px;padding:0px}
h2{font-size:18px}
ul#sortable_list{margin:0px;padding:0px;}
input, select, textarea{color:white;background:#212121;border:1px solid black;font-family:Trebuchet MS;font-size:12px;;-moz-border-radius: 3px;-webkit-border-radius: 3px}
select{background-color:#0B0B0B}
input.selected, select.selected, textarea.selected{color:white;background:#2B2B2B;border:1px solid #AAAAAA;;font-family:Trebuchet MS;;-moz-border-radius: 3px;-webkit-border-radius: 3px}
.setting_table input, select, textarea{}
.setting_table input.selected, select.selected, textarea.selected{}

textarea{overflow:auto}
td{vertical-align:top;}

/* Style for the main table, logo, the top menu, very bottom, and very middle(main_inner_*) goes in .main_middle */
.browse_box{background:url(/themes/vault/images/dark_trans_bg.png) repeat-x;border:1px solid #0B0B0B;margin: 0px 0px 10px 0px;;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
	.browse_box_top{background:none;border:0px solid #0B0B0B;border-bottom:0px;height:30px;width:785px;text-align:center;}
		.browse_box_top h2{padding-left:22px;padding-top:5px;}
	.browse_box_middle{width:785px;text-align:left}
	.browse_box_bottom{width:785px;height:30px;text-align:center;padding-top:5px;}
.main_logo{margin-bottom:45px;margin-left:0px;} /* .main_logo and .main_menu are in the same table, so their positions affect eachother */


ul.main_menu{list-style:none;margin-top:47px;margin-right:0px;}
	ul.main_menu li{float:left;list-style-image:none !important;text-align:center;}
		ul.main_menu li a{display:block; background:url(/themes/vault/images/main_menu/main_menu_item_unselected.png) repeat-x;margin:0px 15px 0px 15px;}
		ul.main_menu li a:visited, ul.main_menu li a:link{}
		ul.main_menu li a:hover{background:url(/themes/vault/images/main_menu/main_menu_item_unselected.png) repeat-x;}
		ul.main_menu li a.selected{color:#FFB561;background:url(/themes/vault/images/main_menu/main_menu_item_unselected.png) repeat-x;}
		


.main_table{width:910px;}
.main_table_top{height:130px;} 
.main_table_middle{background:url(/themes/vault/images/main_bg_middle.png) repeat-y;} 
	/* Style for the inner table, content & stuff */
	.main_inner_top{ background:url(/themes/vault/images/main_inner_top.png) no-repeat;height:40px;width:900px;background-position:center;}
	.main_inner_middle{ background:url(/themes/vault/images/main_inner_middle.png) repeat-y;background-position:center;padding:20px 10px 0px 10px;} /* Contains margin & padding for main content(non-menu stuff) */
		.main_inner_middle #main_content{}
		.main_content_top_bar{margin-bottom:10px;}
	.main_inner_bottom{ background:url(/themes/vault/images/main_inner_bottom.png) no-repeat;height:40px;background-position:center;}
.main_table_bottom{background:url(/themes/vault/images/main_bg_bottom.png) repeat-x #3C3C3C;border:1px solid black;;margin-top:10px;padding:10px} 
.sidebar_column{width:230px;margin-left:5px;} /* for boxes(category, tag, about) in browse box and homepage */
	.sidebar_column #category_menu{width:225px;margin-right:5px;}


/* Item Lists */
.item_box_simple{margin-bottom:15px;padding-bottom:15px;border-bottom:1px solid #999;}
		.item_box_simple td.thumbnail{width:185px;}
			.item_box_simple div.thumbnail{margin-right:5px;}
			.item_box_simple div.title{font-size:30px;text-align:left;margin:0px;padding:0px;text-shadow:1px 1px 0px black;}
			.item_box_simple div.title a:visited, .item_box_simple div.title a:link{text-decoration:none;}
			.item_box_simple div.title a:hover{color:#FFD384;text-decoration:none;}			
	.item_box_simple div.item_details{display:none}

.item_box_detailed{width:580px;background:url(/themes/vault/images/dark_trans_bg.png) repeat-x;border:1px solid #0B0B0B;padding:5px;color:white;padding:5px;;-moz-border-radius: 5px;-webkit-border-radius: 5px;margin-bottom:5px;text-align:left;}
	.item_box_detailed table{margin:0px 0px 0px 0px;padding-top:0px;width:100%}
		.item_box_detailed td.thumbnail{width:185px;}
			.item_box_detailed div.thumbnail{margin-right:5px;}	
		.item_box_detailed td.details{}
			.item_box_detailed div.title{font-size:30px;text-align:left;margin:0px;padding:0px;text-shadow:1px 1px 2px black;}
			.item_box_detailed div.date{font-size:12px;text-align:right;margin-left:0px;width:100%;font-weight:bold}
			.item_box_detailed div.description{font-size:12px;;text-align:left;}
			.item_box_detailed div.spacer{border-bottom:1px solid #666;margin-bottom:2px;margin-top:2px;}
	
.item_box_photo{margin:0px 2px 32px 2px;width:210px;text-align:center;float:left} /* Used in Photo List */
	.item_box_photo div.title{text-shadow:1px 1px 2px black;}
	.item_box_photo .thumbnail_box{text-align:center;}
.item_box_small{} /* Used in Small List */
	.item_box_small .title{width:350px}
	.item_box_small td{padding:2px;vertical-align:middle}

/* Item Viewing */
.item_header_box{text-align:left} 
.item_header_box table{width:100%}
.item_header_box td{vertical-align:top}
.item_header_box div.item_title_box{width:100%}
	.item_header_box div.item_title_box .name{font-size:30px;text-shadow:1px 1px 2px black;}	
	.item_header_box div.item_title_box #edit_name{font-size:30px;text-shadow:1px 1px 2px black;}		
	div.item_info_box {width:252px;height:244px;background:url(/themes/vault/images/item_info_bg.png) no-repeat;border:0px solid #0B0B0B;padding-left:0px;padding-top:20px;text-align:center;}
		.item_info_box div.spacer {border-bottom:1px solid #444;margin-bottom:2px;margin-top:2px;margin-right:20px;margin-left:20px;}	
.item_info_box div.item_user_box {text-align:center}
.item_title_box table{width:100%}
.item_title_box td{vertical-align:bottom}
.item_title_box div.title{font-size:30px;}
.item_title_box div.date{font-size:12px;text-align:right;margin-left:0px;width:100%;}
.item_title_box div.description{font-size:12px;padding-left:3px;}


.plugins{}
.plugins table{width:100%}
.plugins td{valign:top;text-align:left;}
.plugins .plugin_box{margin-bottom:20px;}
	.plugin_box div.title{font-size:24px;background:url(/themes/vault/images/dark_trans_bg.png) repeat-x;border:1px solid #0B0B0B;;padding:2px;padding-left:5px;margin-bottom:5px;;-moz-border-radius: 5px;-webkit-border-radius: 5px}
		.plugin_box div.title a:hover{color:white}
	.plugin_box div.images{}
		.plugin_box div.images div.image{float:left;text-align:center;margin:5px;}
	.plugin_box div.descriptions{}
		.plugin_box div.descriptions div.description{}
			.plugin_box div.descriptions div.description .title{font-size:24px;border:0px;}
			.plugin_box div.descriptions div.description .content{font-size:12px;margin-bottom:20px;}
	.plugin_box div.features{padding-left:20px;}
	.plugin_box div.reviews{}
		.plugin_box div.reviews td{vertical-align:top;text-align:center}
		.plugin_box div.reviews div.user_box{}
		.plugin_box div.reviews div.review_box{width:700px;background:url(/themes/vault/images/dark_trans_bg.png) repeat-x #666666;border:1px solid #0B0B0B;padding-left:5px;padding-top:10px;text-align:center;}
				.plugin_box div.reviews div.review_box div{padding:0px 5px 0px 20px;}
		.plugin_box img.review_icon{margin-top:6px;}
			.plugin_box .new_review_box a:visited, .plugin_box div.new_review_box a:link{color:white}
			.plugin_box .new_review_box a:hover{text-decoration:none;color:#D6EBF2}
			.plugin_box .new_review_box div.score_box{color:white;background:#666666;border:1px solid #999999;;padding:5px;width:125px;min-height:60px;}
	.plugin_box div.comments{}
	.plugin_box div.links{padding-left:20px;}
	.plugin_box div.tags{padding-left:20px;}
	.plugin_box div.files{padding-left:20px;}


/* Comments */
div.comments table{width:100%}
div.comments td{vertical-align:top;text-align:center}
div.comments td.user_column{width:60px;}
	div.comments div.user_box{padding-top:17px}
div.comments td.comment_column{width:100%}			
	div.comments div.comment_box_from_owner{background-position:left;min-height:107px;;background:url(/themes/vault/images/comment_bg_from_owner.png) no-repeat;padding-left:5px;padding-top:10px;text-align:center;}
		div.comments div.comment_box_from_owner div{padding:0px 15px 0px 36px;}	
	div.comments div.comment_box{;background-position:left;min-height:107px;;background:url(/themes/vault/images/comment_bg.png) no-repeat;padding-left:5px;padding-top:10px;text-align:center;}
		div.comments div.comment_box div{;padding:0px 15px 0px 36px;}		
	div#new_comment_box a:visited, div.new_comment_box a:link{color:white}
	div#new_comment_box a:hover{text-decoration:none;color:#D6EBF2}

/* Box Styles for different Box types */
.box_style_1{background:url(/themes/vault/images/dark_trans_bg.png) repeat-x;border:1px solid #0B0B0B;padding:5px;color:white;;-moz-border-radius: 5px;-webkit-border-radius: 5px}
	.box_style_1 a:visited, .box_style_1 a:link{color:white} 	.box_style_1 a:hover{color:#FFB36F;text-decoration:none}
	.box_style_1 h1.title, .box_style_1 h2.title, .box_style_1 h3.title{text-shadow:1px 1px 2px black;}	
.box_style_2{background:url(/themes/vault/images/dark_trans_bg.png) repeat-x;border:1px solid #0B0B0B;padding:5px;color:white;;-moz-border-radius: 5px;-webkit-border-radius: 5px}
	.box_style_2 h1.title, .box_style_2 h2.title, .box_style_2 h3.title{text-shadow:1px 1px 2px black}

/* Categories */ 
.categories_top{background:url(/themes/vault/images/categories/categories_top.png) no-repeat;height:57px;}
.categories_middle{background:url(/themes/vault/images/categories/categories_middle.png) repeat-y;padding:3px}
.categories_bottom{background:url(/themes/vault/images/categories/categories_bottom.png) no-repeat;height:46px}


/* Titles */
h1.title, h2.title, h3.title{text-shadow:1px 1px 2px black;}

/* Other */
.plugin_hover{border-bottom:2px solid #FFD081; background:url(/themes/vault/images/main_inner_middle.png) repeat;}
.plugin_unselected{border-bottom:2px solid white}
.search_box{font-size:12px;padding-left:10px;text-align:left}
.login_box{font-size:12px;}
	.login_box td{vertical-align:middle;}
.signup_button{border-left:1px solid #aaa;padding:0px 3px 0px 3px;;font-weight:bold;}
#sort_by{padding:2px 0px 2px 5px;}

.preloaded_images{display:none}
.dark_input{border:1px solid #224386;background:#224386;font-family:Trebuchet MS;font-size:14px;font-weight:bold;color:white}
.row_table{border:1px solid #303030;;-moz-border-radius: 5px;-webkit-border-radius: 5px}
	.row_a{background-color:#4F4F4F}
	.row_b{background-color:#5F5F5F}
	.row_table td{padding:2px;vertical-align:middle}
	.row_table th{font-weight:bold;background:#303030;color:white;text-align:left;}	
div.spacer{border-bottom:1px solid #666;margin-bottom:2px;margin-top:2px;}
.top_bar{padding-top:10px;padding-right:10px;text-align:right;height:30px;margin-bottom:20px;}
#new_item_box #item_name{font-size:24px;width:400px;}
#new_item_box #item_description{width:400px;height:200px;}
#new_item_box td{padding:2px;}
.welcome_box{padding:10px;margin-right:0px;}
.welcome_message{}
.category_indent{padding-left:7px;}
	.category_indent td{padding:2px}
div.loading{text-align:center;} /* The box containing the loading img */

/* Buttons */
a.button_1:visited, a.button_1:link{padding:1px 5px 1px 5px;background:url(/themes/vault/images/dark_trans_bg.png) repeat-x;border:1px solid #0B0B0B;;color:white;;font-weight:bold;;cursor:pointer;-moz-border-radius: 3px;-webkit-border-radius: 3px;opacity:0.90;filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity: 0.9;}
a.button_1:hover{opacity:1.00;filter:alpha(opacity=100);-moz-opacity:1.0;-khtml-opacity: 1.0;text-decoration:none;}

	
/* Flash Messages(Success and Failure Boxes) */
.flash_notice{padding-top:10px;} /* This is the div that contains all flash messages. */
.flash_success{background:#65900E;border:2px solid #D0F42A;color:white;padding:5px;margin: 5px 50px 5px 50px;text-align:center;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
.flash_failure{border:2px solid #F3B3B3;background-color:#AF0000;color:white;padding:5px;margin: 5px 50px 5px 50px;text-align:center;-moz-border-radius: 5px;-webkit-border-radius: 5px;}

/* Dropdown Menus */



/* Tabs for User Section */
ul#tabmenu {	list-style:none; 	margin:0 !important; 	padding:0;	height:25px;	margin-bottom:0px;}
#tabmenu li  { 	float:left;	 	text-indent:0;	padding:0;	margin:0 !important;	list-style-image:none !important; }/* single tab */
#tabmenu a, a.active { color:#ccc;	background: url(/themes/vault/images/bgs/user_tab_bg_unselected.png) no-repeat;;	font-size:12px;	display:block;	height: 20px;  	width: 120px;	text-align:center;		text-decoration:none;	padding:4px 0px 1px 0px;	margin:0px 2px 0px 0px;		position:relative;}/* link inside the tab. uses a background image */
#tabmenu a.active {	border:0px;	background: url(/themes/vault/images/bgs/user_tab_bg_selected.png) no-repeat;}
#tabmenu a:visited, #tabmenu a:link {color:white} #tabmenu a:hover {color:#fff;border:0px;	background: url(/themes/vault/images/bgs/user_tab_bg_selected.png) no-repeat;}
#tabmenu a.active:hover{;color:#fff !important;}/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
#tabmenu a.special_tab:visited, #tabmenu a.special_tab:link{color:#FABE6D;border:0px;} #tabmenu a.special_tab:hover {color:#FFAB3F;;border:0px;}
#content {	background: url(/themes/vault/images/bgs/user_tab_pane_bg.png) repeat-x;	padding:5px;	min-height:300px;}


/* Pagination */
.pagination{margin-top:10px}
.pagination a{color:white;background:#555555;border:1px solid #CCCCCC;padding:10px;;text-decoration:none}
.pagination a:hover{color:white;background:#444444;border:1px solid #D0F42A;padding:10px;text-decoration:none}
.current{color:white;background:#444444;border:1px solid #D0F42A;padding:10px;text-decoration:none}
.disabled{color:white;background:#555555;border:1px solid #CCCCCC;padding:10px;text-decoration:none;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}

/* Admin Styles */
a.admin_link:visited, a.admin_link:link { color:white;text-decoration:none; }a.admin_link:hover{text-decoration:none;color:#67FF5F }
.admin_menu{background:url(/images/box/solid/blue_to_dark.png) repeat-x;border:0px solid #162B56;background-color:#162B56;padding:3px;margin:20px}
.admin_menu_header{color:white;font-size:14px;border-bottom:1px dotted white}
.condition_name{color:white;font-weight:bold}
.condition_value{color:red;font-weight:bold}
table.setting_table{margin:0px}
	.setting_table td{padding:3px;}

/* jQuery TOOLS - Horizontal Tabs CSS */
ul.plugin_tabs_horizontal {	list-style:none; 	margin:0 !important; 	padding:0;	height:25px;	margin-bottom:0px;}
ul.plugin_tabs_horizontal li { 	float:left;	 	text-indent:0;	padding:0;	margin:0 !important;	list-style-image:none !important; }/* single tab */
ul.plugin_tabs_horizontal a { color:#ccc;	background: url(/themes/vault/images/bgs/plugin_tab_bg_unselected.png) no-repeat;;	font-size:11px;	display:block;	height: 20px;  	width: 85px;	text-align:center;		text-decoration:none;	padding:5px 0px 0px 0px;	margin:0px 2px 0px 0px;		position:relative;}/* link inside the tab. uses a background image */
ul.plugin_tabs_horizontal a.current {	border:0px;	background: url(/themes/vault/images/bgs/plugin_tab_bg_selected.png) no-repeat;-moz-border-radius: 0px;-webkit-border-radius: 0px;}
ul.plugin_tabs_horizontal a:hover{	color:#fff;border:0px;	background: url(/themes/vault/images/bgs/plugin_tab_bg_selected.png) no-repeat;}
ul.plugin_tabs_horizontal a.current, ul.plugin_tabs_horizontal a.current:hover, ul.plugin_tabs_horizontal li.current a {	cursor:default !important; 	color:#fff !important;}/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
div.plugin_panes_horizontal {	background: url(/themes/vault/images/bgs/plugin_tab_pane_bg.png) repeat-x;	padding:5px;	min-height:300px;}
div.plugin_panes_horizontal div.pane {	display:none;}/* initially all panes are hidden */ 

/* jQuery TOOLS - Vertical Tab CSS */
ul.plugin_tabs_vertical { width:90px;	list-style:none; 	margin:0 !important; 	padding:0;	height:25px;	margin-bottom:0px;}
ul.plugin_tabs_vertical li { 	float:left;	 	text-indent:0;	padding:0;	margin:0 !important;	list-style-image:none !important; }/* single tab */
ul.plugin_tabs_vertical a {	border:1px solid #0B0B0B;background:url(/themes/vault/images/dark_trans_bg.png) repeat-x;;	font-size:11px;	display:block;	height: 20px;  	width: 85px;	text-align:center;		text-decoration:none;	padding:5px 0px 0px 0px;	margin:0px 2px 2px 0px;		position:relative;}/* link inside the tab. uses a background image */
ul.plugin_tabs_vertical a.current {	color:#FFD384;background:url(/themes/vault/images/dark_trans_bg.png) repeat-x;}
ul.plugin_tabs_vertical a:hover{color:#FFD384;background:url(/themes/vault/images/dark_trans_bg.png) repeat-x;}
div.plugin_panes_vertical {min-height:300px;}
div.plugin_panes_vertical div.pane {display:none;		}/* initially all panes are hidden */ 

/* jQuery TOOLS - Accordian Tab CSS */
#accordion {	background:url(/themes/vault/images/bgs/plugin_tab_pane_bg.png) repeat-x;	width: 100%;	border:1px solid black;	}/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion h2.accordion_tab {		background:url(/themes/vault/images/item_other_bg.png) repeat-x;	margin:0;	padding:5px 15px;	font-size:14px;	font-weight:bold;	border:0px solid #0b0b0b;	border-bottom:1px solid black;border-top:1px solid #ccc;	cursor:pointer;		}/* accordion header */
#accordion h2.current {	cursor:default;	background-color:#333;}/* currently active header */
#accordion div.pane {	display:none;	padding:15px;	font-size:12px;}/* accordion pane */

/* ColorBox Image Gallery CSS */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

#cboxOverlay{background:url(/themes/vault/images/colorbox/overlay.png) 0 0 repeat;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(/themes/vault/images/colorbox/controls.png) -100px 0 no-repeat;}
    #cboxTopRight{width:21px; height:21px; background:url(/themes/vault/images/colorbox/controls.png) -129px 0 no-repeat;}
    #cboxBottomLeft{width:21px; height:21px; background:url(/themes/vault/images/colorbox/controls.png) -100px -29px no-repeat;}
    #cboxBottomRight{width:21px; height:21px; background:url(/themes/vault/images/colorbox/controls.png) -129px -29px no-repeat;}
    #cboxMiddleLeft{width:21px; background:url(/themes/vault/images/colorbox/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(/themes/vault/images/colorbox/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(/themes/vault/images/colorbox/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(/themes/vault/images/colorbox/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:3px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:3px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:3px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0px; background:url(/themes/vault/images/colorbox/controls.png) -75px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(/themes/vault/images/colorbox/controls.png) -50px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(/themes/vault/images/colorbox/loading_background.png) center center no-repeat;}
        #cboxLoadingGraphic{background:url(/themes/vault/images/colorbox/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(/themes/vault/images/colorbox/controls.png) -25px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

	/* ColorBox IE Transparency Fix */
	.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/themes/vault/images/colorbox/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
	.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/themes/vault/images/colorbox/internet_explorer/borderTopCenter.png, sizingMethod='scale');}
	.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/themes/vault/images/colorbox/internet_explorer/borderTopRight.png, sizingMethod='scale');}
	.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/themes/vault/images/colorbox/internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
	.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/themes/vault/images/colorbox/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
	.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/themes/vault/images/colorbox/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
	.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/themes/vault/images/colorbox/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
	.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/themes/vault/images/colorbox/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}

