<IfModule mod_fastcgi.c>
  AddHandler fastcgi-script .fcgi
</IfModule>

<IfModule mod_fcgid.c>
  AddHandler fcgid-script .fcgi
</IfModule>

Options +FollowSymLinks +ExecCGI 

RewriteEngine On 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ dispatch.fcgi/$1 [QSA,L] 
 
ErrorDocument 500 "Rails application failed to start properly"


