<div class="box_style_2" align=center>
    <h2><%= t("label.object_new", :object => Group.human_name) %></h2><br>
    <% form_for(@group, :url => { :action => 'create', :controller => "groups" }, :method => "post") do |f| %>
		<%= render :partial => "form", :locals => {:group => @group, :f => f } %>
		<br>
		<div align=center>	
				<%= f.submit t("label.object_create", :object => Group.human_name), :class => "button_1" %>
		</div>
   <% end %>
   <br>
</div>
<br>
<%= link_to icon("arrow_left") + " " + t("single.back"), :back %>
