Powered by <a href="http://www.hulihanapplications.com/projects/opal"><b>Opal</b></a> &copy; <%= Time.now.strftime("%Y")%> - <a href="http://www.hulihanapplications.com">Hulihan Applications</a>
<div align=center>
	<a href="http://www.hulihanapplications.com/projects/opal" class="transparent"><img src="/images/opal_powered_small.png" border=0 alt="" title="This site is powered by Opal &copy; 2009 Hulihan Applications"></a>
</div>

