<div class="section">
	<div class="header">							
		<% if defined?(title) %>
			<h2 class="title"><%= title %> <%= Setting.model_name.human(:count => :other) %></h2>
		<% end %>					
	</div>		
	<%= content_tag :em, description if defined?(description) %>


	<% for setting in settings %>
		<%= render setting %>		
    <% end %>
</div>