<div class="pages" align=left>
	<% if pages.size > 0 %>
			<% for page in pages %>	
				<%= descend_page(page, :admin_controls => true, :make_link => params[:type] != "System", :style => "font-size:16px;", :show_spacer => true, :show_date => params[:type] == "Blog")  %>								
			<% end %>
	<% else %>
	<% end %>
</div>
