<% 
	subpages ||= page.pages.published.display_in_menu.in_order
%>
<div class="box_1" id="page_menu">
		<h2 class="title"><%= link_to_page page %></h2>
		<div class="pages">				
			<% for subpage in subpages %>
				<%= descend_page(subpage) %>
			<% end %>	
		</div>
</div>
