<div class="header">					
	<div class="title">
				<h2 class="title">
					<% page_type = t("activerecord.models.#{(params[:type] + "Page").underscore}") %>
					<a name="pages"></a>
					<%= t("activerecord.models.#{(params[:type] + "Page").underscore}", :count => :other)  %>
				</h2>
	</div>
	<div class="menu">
		<%= content_tag :ul, :class => :menu do %>
			<%= content_tag(:li, link_to(icon("new") + " " + t("label.item_new", :item => t("activerecord.models.#{(params[:type] + "Page").underscore}", :count => 1)), {:action => "new", :type => params[:type]}, :class=> "plugin_title_link")) if params[:type] != "System" %>
		<% end %>										
	</div>
</div>

<%= render :partial => "list_pages", :locals => {:pages => @pages, :options => {:sortable => params[:type].downcase == "public"}} %>	