<h2 class="title"><%= t("label.item_featured", :item => Item.model_name.human(:count => :other)) %></h2>
<table style="width:100%" cellpadding=0 cellspacing=1>		
	<% for item in Item.featured.approved.public %>
		<h4>
			<%= preview(item, :size => "pinky") %>
			<%= link_to "#{h truncate(item.name, :length => 14)}", {:action => "view", :controller => "items", :id => item}, :title =>  h(item.name) %>
		</h4>					
	<% end %>
</table>