<div>
	<% for item in items %>
	 <% if item.can?(@logged_in_user, :view) %>
			<div class="item_box_photo">
				<div class="item">
					<table cellpadding=0 cellspacing=0 align=center  style="width:100%">
						<tr>
							<td align=center>
								<%= preview(item) %>
								<div class="name">
									<%= link_to h(truncate(item.name, :length => 24)), {:action => "view", :controller => "items", :id => item}, :title => "#{h item.name}" %>								
								</div>
								<div>
									<% if item.can?(@logged_in_user, :edit) %>
										<%= link_to icon("edit"), {:action => "edit", :controller => "items", :id => item}, :title => t("label.item_edit", :item => Item.model_name.human) %>
									<% end %>
									<% if item.can?(@logged_in_user, :destroy) %>
										<%= link_to icon("delete"), {:action => "delete", :controller => "items", :id => item}, :title => t("label.item_delete", :item => Item.model_name.human), :confirm => t("confirm.item_delete", :item => Item.model_name.human) %>
									<% end %>									
								</div>
								
							</td>
						</tr>
					</table>					
				</div>

			</div>
	 <% end %>
	<% end %>
</div>