<div class="box_style_1" id="new_item_box">
      <h2 class="title"><%= t("label.object_edit", :object => @setting[:item_name]) %></h2>
	   <%#= show_page Page.get_system_page("New Item") %>
	   
	   <div style="margin-top:5px;">
	        <% form_for(@item, :url => { :action => 'update', :controller => "items", :id => @item.id }, :method => "post") do |f| %>
			<%= render :partial => "form", :locals => {:item => @item, :f => f} %>
				<br>
				<div align=center>
					<%= f.submit t("label.object_save", :object => @setting[:item_name]), :class => "button_1" %>
				</div>
			<% end %>
		</div>
</div>

<br>
<%= link_to icon("arrow_left") + " Back", { :action => 'view', :controller => "items", :id => @item}  %>
<%#= link_to icon("arrow_left") + " " + t("single.back"), :back %>
