<div align=center>
  <h2 class="title"><%= t("label.item_edit", :item => @setting[:item_name]) %></h2>
  <%#= show_page Page.get_system_page(I18n.t('seeds.page.new_item.title')) %>	
</div>      

	   
<div style="margin-top:5px;">
    <% form_for(@item, :url => { :action => 'update', :controller => "items", :id => @item.id }, :method => "post") do |f| %>
	<%= render :partial => "form", :locals => {:item => @item, :f => f} %>
		<br>
		<div align=center>
			<%= f.submit t("label.item_save", :item => @setting[:item_name]), :class => "button_1" %>
		</div>
	<% end %>
</div>

<br>

<div align=center>	
	<%= link_to icon("arrow_left") + " Back", { :action => 'view', :controller => "items", :id => @item}  %>
</div>      

