<%= render :partial => "browse/main_content_top_bar" %>
<div align=center>
	<h1><%= t("label.search_results_for", :query => h(@search_for)) %></h1>
	<%= page_entries_info @items, :entry_name => @setting[:item_name] %>	
</div>
<br>
<div id="side">
	&nbsp;
</div>
<div id="main">
	<%= render :partial => "items/list_items", :locals => {:items => @items } %>
</div>

<%= will_paginate @items, :params => {:search_for => @search_for } %>
<br>