<%= render :partial => "browse/main_content_top_bar" %>

<div align=center>
	<h2><%=h @tag %> <%= @setting[:item_name_plural] %></h2>	
	<%= @items.size %> <%= @setting[:item_name_plural] %>
</div>

<%= render :partial => "items/list_items", :locals => {:items => @items } %>
<br>