<div class="item">
	<%= record_header(@item) %>
	<% @setting[:item_page_type] = get_setting("item_page_type") if !@setting[:item_page_type]  %><%# get default page type if not set. %>
	<%= render :partial => "items/view_#{@setting[:item_page_type]}", :locals => {:item => @item, :plugins => Plugin.enabled} %>
</div>


