<% if PluginFile.can?(@logged_in_user, :view) %>
	<div class="item_files_box">
		<% files_count = PluginFile.record(item).approved.count  %>
		<% if files_count > 0 %>
			<img src="/themes/<%= @setting[:theme] %>/images/icons/file.png" class="icon"   title="" alt="">
			<%= link_to "#{files_count} #{plugin.model_name.human(:count => files_count)}", {:action => "view", :controller => "items", :id => item.id, :anchor => "#{plugin.model_name.human(:count => :other)}"} %>			
		<% end %>
	</div>
<% end %>
