<% for page in @pages %>
	<%= render :partial => "pages/page_header", :locals => {:page => page} %>
	<div class="box_2 blog_page page">
		<%= render :partial => "blog/list_page", :locals => {:page => page} %>
		<div class="spacer"></div>
			<%= icon("comments") %> 										
			<%= link_to "#{page.plugin_comments.approved.size} #{PluginComment.model_name.human(:count => :other)}", {:action => "page", :controller => "pages", :id => page, :anchor => "comments"} %>
	</div>
<% end %>