
<table align=center style="width:100%">
 <tr>
  <td align=left class="sidebar_column" valign=top>
		<%= render :partial => "menu" %>	
  </td>
  <td align=left valign=top >
   <div>
			<%= render :partial => "blog/list_pages", :locals => {:pages => @pages} %>

   </div>
   <div align=center>
 	 		<%= page_entries_info @pages, :entry_name => "Pages" %>							
			<br>
			<%= will_paginate @pages %>	  	
   </div>
	   
  </td> 
 </tr>
</table>
