<% @page = Page.get_system_page("About Home")%>
<table align=center style="width:100%">
 <tr>
  <td align=left class="sidebar_column" valign=top>
  	<div class="box_style_1">
		<%= render :partial => "menu" %>
	</div>
  </td>
  <td align=left valign=top >
   <%= render :partial => "pages/header", :locals => {:page => @page} %> 
   <div>
		<%= show_page @page  %>
   </div>   
  </td> 
 </tr>
</table>
