<% @page = Page.get_system_page("About Home")%>
<div id="side">
  	<div class="box_1">
		<%= render :partial => "menu" %>
	</div>
</div>
<div id="main">
   <%= render :partial => "pages/header", :locals => {:page => @page} %> 
   <div>
		<%= show_page @page  %>
   </div>   
</div>