/* Opal Core CSS */

/* HTML  */
html,body {height: 100%;margin:0px;padding:0px;}
textarea{overflow:auto;}
td{vertical-align:top;}



/* Links */
a:visited, a:link{outline: none;}
a:hover{outline: none;}
a.transparent:visited, a.transparent:link{text-decoration:none;;opacity:0.70;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7} a.transparent:hover{text-decoration:none;opacity:1.00;filter:alpha(opacity=100);-moz-opacity:1.0;-khtml-opacity: 1.0}

/* Images */
img.icon, img.bullet{vertical-align:middle;border:0px;}
img.help{cursor:help;}

/* Cursors */
.pointer{cursor:pointer;}

/* Tables & Cells */
td.icon_column{width:20px;vertical-align:middle;text-align:center}




/* Item Lists */

/* Item Page */
.plugins .plugin_box{clear:both}

/* Sections */
.section{}
	.section .header{margin-bottom:5px}
	.section .header td{vertical-align:middle}

/* Other Stuff */
.indent{padding-left:7px;}
	.indent td{padding:2px 0px 2px 0px;}
.navlinks{margin-bottom:10px;}
.tooltip {display:none;z-index:999}

/* Flash Notifications */
.flash{padding-top:10px;} /* This is the div that contains all flash messages. */

/* jQuery TOOLS - Accordian Tab CSS */
#accordion {width: 100%;}/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion h2.accordion_tab {cursor:pointer;clear:both}/* accordion header */
#accordion h2.current {	cursor:default;-moz-border-radius: 0px;-webkit-border-radius: 0px;	}/* currently active header */
#accordion div.pane {	display:none;}/* accordion pane */


/* Forms, Fields & Inputs */
.form_box input, .form_box select, .form_box textarea{margin-bottom:12px;} 


/* Other Stuff */
.main_content_top_bar{height:25px;}
.will_paginate{clear:both}









