/* Menu & Lists */
ul.record_menu,
div#side ul.menu, 
div.header ul.menu, 
ul.sortable, 
ul.collapsed, 
div.header 
ul.menu, 
div.menu ul,
div#side ul.menu ul
{
	list-style:none;
	padding:0px;
	margin:0px;
	-webkit-padding-start: 0px;
}
ul.right li, ul.left li {display:block}
ul.right li {float:left}
ul.left li {float:left}
	ul.sortable li, ul.collapsed li {list-style-image:none;padding:0px;margin:0px;}
	ul.sortable li {cursor:move;}
	ul.sortable li ul.sortable li {;padding:0px 0px 0px 20px;}

/* Menus */
div.menu {text-align:left;position:relative;} 
	div.menu .last {margin-bottom:0px}
	div.menu ul.left, .record_menu.left {position:absolute;left:0}
		div.menu ul.left li,.record_menu.left li {margin-right:2px;}
	div.menu ul.right, .record_menu.right, div.header ul.menu {position:absolute;right:0}
		div.menu ul.right li, .record_menu.right li, div.header ul.menu li {margin-left:2px;}	
div#side div.menu div.footer {text-align:center}

/* Side Menus */
div#side ul.menu li span.count, div#side div.menu, div#side ul.menu li a.selected {-moz-border-radius: 5px;-webkit-border-radius: 5px;}	
div#side div.menu {
	div.footer {border-top:1px solid #aaa;padding-top:5px;margin-top:5px;}
} 
div#side ul.menu {
	img.icon {/*display:none;*/}
	li {
		font-size:16px;
		position:relative;
		margin:0;
		padding:0;
		ul {
			padding:0;margin:0;display:none;
			li {font-size:14px;padding:0px 0px 0px 12px;}	
		}
		a {
			span.count {
				position:absolute;top:0;right:6px;text-align:center;background:#fff;border:1px solid #ccc;padding:3px;font-size:10px;;display:block;min-width:15px;
			}
		}		
		> a {
			display:block;
			padding:3px 5px;
			margin-bottom:3px;
			display:relative;
			&.selected {
				color: #ffffff;
				@include background(linear-gradient(top, #444 0%, #222));
				@include border-radius;
				border: 1px solid #000;
				@include box-shadow(
					0px 1px 3px rgba(000,000,000,0.25), 
					inset 0px 0px 2px rgba(255,255,255,0.7)
				);
				text-shadow: 0px 1px 1px rgba(000,000,000,0.4);
				// box-shadow: 0px 1px 2px #222;
				// -moz-box-shadow: 0px 1px 2px #222;
				// ;  -webkit-box-shadow: 0px 1px 2px #222;
				> span.count {background:none;border:none;right:7px;top:3px;}
			}
		}	
		&.selected {
			> ul, > div.menu ul {
				display:block;
			}
		}		
	}
}

/* Record Menus */
div.record {position:relative;}
div.record_menu {position:relative;height:25px;margin-bottom:10px;}
.records div.record_menu {}
	.record_menu.right, div.header ul.menu {position:absolute;right:0}
	.record_menu li > a, 
	.record_menu li > span, 
	div.header ul.menu li > a, 
	div.header ul.menu li > span, 
	#navigation ul.right li > a, 
	#navigation ul.right li > span,
	#navigation ul.left li > div {
		display:block;
		padding: 3px 7px;
		height:18px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
#navigation ul.left li > div {padding-left:0px;}	

.record_menu li a, div.header ul.menu li a, #navigation ul.right li > a {opacity:0.90;filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity: 0.9;}
.record_menu li a:hover, div.header ul.menu li a:hover, #navigation ul.right li > a:hover {opacity:1.00;filter:alpha(opacity=100);-moz-opacity:1.0;-khtml-opacity: 1.0;}

/* Selected Menu Item */
.record_menu li.selected > span,
.record_menu li.selected > a,  
div.header ul.menu li.selected > span, 
div.header ul.menu li.selected > a, 
#navigation ul.right li.selected > span, 
#navigation ul.right li.selected > a {
	background:#fff;
}

.record_menu li > span, 
div.header ul.menu li > span, 
ul.right li > span {
	border:1px solid #bbb;
	background:url(bgs/white_trans_50.png) repeat;
}
.record_menu li > a, 
div.header ul.menu li > a, 
ul.right li > a {
	border:1px solid #aaa; 
	background:url(bgs/button_3_bg.png) repeat center center;
}
.record_menu li > a:hover, 
div.header ul.menu li > a:hover, 
ul.right li > a:hover {
	border:1px solid #666;
}
.record_menu span > a img, 
div.header ul.menu span > a img, 
ul.right li > span > a img {
	@include icons-sprite(spacer);
	padding-left:14px;
}
.record_menu span > a img.avatar, 
div.header ul.menu span > a img.avatar, 
ul.right li > span a img.avatar {
	background:none;
	padding-left:0px;
}
ul.right li.sort span img {background:none;padding-left:0;}

