/* Opal Core CSS */

/* HTML  */
html,body {height: 100%;margin:0px;padding:0px;}
input, option, textarea{padding:2px;}
textarea{width:100%;height:100px;margin:0;padding:0}
td{vertical-align:top;}
p{margin:0px 0px 20px 0px;}
label, .field .label{font-size:16px;}

/*  Layout */
#wrapper{height:auto !important; height:100%; min-height:100%;position:relative;}
	#wrapper > #header{width: 900px ; margin: 0 auto ;;}
	#wrapper > #content{width: 900px ;margin: 0 auto ;height:100%}
			#wrapper > #content #main, .main{width:660px;}
			#wrapper > #content #main, div.main{float:left;}
				#main .header table{width:100%}
					#main .header td{vertical-align:middle}
					#main .header td.left{text-align:left}
					#main .header td.right{text-align:right}
			#wrapper > #content #side, div.side, .side_right, .side_left{width:230px;}
			#wrapper > #content #side, div.side, div.side_right, div.side_left{float:left;}
			#wrapper > #content #side, div.side, .side_left{padding-right:10px}
			div.side_right{float:right}
			.side_right{padding-left:10px}			
	#wrapper > #footer{position:absolute;bottom:0;width:100%;padding:5px 0px 0px 0px;;text-align:center;}
	#wrapper > #content #tabcontent #main, .tabcontent .main{width:640px;}


/* Links */
a:visited, a:link{outline: none;}
a:hover{outline: none;}
a.transparent:visited, a.transparent:link{text-decoration:none;;opacity:0.70;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7} 
a.transparent:hover{text-decoration:none;opacity:1.00;filter:alpha(opacity=100);-moz-opacity:1.0;-khtml-opacity: 1.0}
a.extra_options{padding:5px 0px;display:block;}

/* Images */
a img{border:0px;}
img.icon, img.bullet{vertical-align:middle;border:0px;}
img.help{cursor:help;}

/* Cursors */
.pointer{cursor:pointer;}

/* Tables & Cells */
td.icon_column{width:20px;vertical-align:middle;text-align:center}
td.left{padding-right:10px;width:50%}
td.right{padding-left:10px;width:50%}

/* Interaction States(Selection, Hovering, Sorting, Etc.) */
.hoverable{opacity:0.90;filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity: 0.9;}
.hover{opacity:1.00;filter:alpha(opacity=100);-moz-opacity:1.0;-khtml-opacity: 1.0;}
.disabled{opacity:0.50;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;}

/* Lists */
ul.right li, ul.left li{display:block}
ul.right li{float:right}
ul.left li{float:left}
ul.sortable, ul.collapsed{margin:0px;padding:0px;list-style-type:none;}
	ul.sortable li, ul.collapsed li{list-style-image:none;padding:0px;margin:0px;}
	ul.sortable li{cursor:move;}
	ul.sortable li ul.sortable li{;padding:0px 0px 0px 20px;}


/* Items */
	.item .new{position:relative;bottom:0px;left:0px;}
	div.preview_not_found a, .preview_text{text-align:center;position: relative;display:table}
		div.preview_not_found h2{;display:table-cell;vertical-align: middle}
	/* Item Lists */
	
	/* Item Page */
	.plugins .plugin_box{clear:both}

/* Sections */
.section{}
	.section .header{margin-bottom:5px}
	.section .header td{vertical-align:middle}

/* Menus */

.menu{text-align:center}
	.menu .last{margin-bottom:0px}
div.record{position:relative;}
div.record_menu{/*position:absolute;top:-10px;right:0;*//*display:none;*/}
div.record:hover div.record_menu{}
	div.record_menu ul.record_menu{list-style:none;padding:0px;margin:0px;}	
		div.record_menu ul.record_menu li{}
		

/* Boxes */
.extra_options_box{padding:10px;}

/* Comments & Posts */
.comment .comment{margin-left:40px;}
.comment .comment .comment .comment .comment{margin-left:0px}

/* Other Stuff */
.indent{padding-left:7px;}
	.indent td{padding:2px 0px 2px 0px;}
.navlinks{margin-bottom:10px;}
.tooltip {display:none;z-index:999}
.clear{clear:both}

/* Plugins */
.plugin_item_controls{margin:0;padding:0}
.images .image .plugin_item_controls{display:block;margin:5px;}

/* Pages */
.page .content{padding:5px 0px;}

/* Notice Messages(Success and Failure Boxes) & Error Styles */
.notice{text-align:center;} /* This is the div that contains all notice messages. */

/* Logs */
.log td{vertical-align:middle}
.log img.medium{float:left;margin-right:5px;vertical-align:middle}

/* Pagination */
.pagination{text-align:center;}

/* Forms, Fields & Inputs */
.field{margin-bottom:10px;}
	.field .description{padding:0px 0px 0px 0px;font-size:12px}
.buttons{text-align:center;margin:10px 0px}
#editor_wrapper{margin-bottom:10px;}


/* Other Stuff */
.main_content_top_bar{height:25px;}
.pagination{clear:both;}
.back{padding:10px;}
.cloud_tiny{}
.cloud_small{font-size:1.1em}
.cloud_medium{font-size:1.2em}
.cloud_large{font-size:1.3em}
