<div class="box_style_2" align=center>
    <h2 class="title"><%= t("label.object_edit", :object => Category.human_name) %></h2><br>
    <% form_for(@category, :url => { :action => 'update', :controller => "categories", :id => @category.id }, :method => "post") do |f| %>
		<%= render :partial => "form", :locals => {:category => @category, :f => f } %>
		<br>
		<div align=center>	
			<%= f.submit t("label.object_save", :object => Category.human_name), :class => "button_1" %>
		</div>
   <% end %>
</div>

<br>
<%= link_to icon("arrow_left") + " " + t("single.back"), :back %>