<div class="box_2" align=center>
    <h2><%= t("label.item_new", :item => Category.human_name) %></h2><br>
    <% form_for(@category, :url => { :action => 'create', :controller => "categories"}, :method => "post") do |f| %>
		<%= render :partial => "form", :locals => {:category => @category, :f => f } %>
		<br>
		<div align=center>	
			<%= f.submit t("label.item_create", :item => Category.human_name), :class => "button_1" %>
		</div>
   <% end %>
   <br>
</div>
<br>
<%= link_to icon("arrow_left") + " " + t("single.back"), :back %>
