<% content_for :side do %>
	<%= render :partial => "tools/menu" if (params[:controller] == "logs" && params[:action] == "index")%>
	<%= render :partial => "logs/key" %>
<% end %>
<div class="section">
  	<div>
		<%= render :partial => "logs/list_logs", :locals => {:logs => logs} %>
	</div>			
	<%= will_paginate @logs %>	
</div>



