<div class="header">
	<div class="title">
		<h2 class="title">
			<%= t("label.item_my", :item => Log.model_name.human(:count => :other)) %>
		</h2>
	</div>
</div>

<%= render :partial => "logs_page", :locals => {:logs => @logs} %>

