<div align=center>
	<h2 class="title">
		<%= t("label.item_my", :item => Log.model_name.human(:count => :other)) %>
	</h2>
</div>
<br>

<%= render :partial => "logs_page", :locals => {:logs => @logs} %>

