<%# Dynamically find which locales are stored in config/locales and present them as a selection %>
<%
 # Set Defaults
 options ||= Hash.new
 options[:input_name] 	||= "locale"
 options[:select] 		||= Setting.get_setting("locale")  # the locale to select
%>
<select name="<%= options[:input_name] %>">
<% Dir.new(Opal.locales_dir).entries.each do |file| %>
	<% if (file.to_s != ".") && (file != "..") && file != "pluralize.rb" && file != "item.yml"  %>
	 <% locale = File.basename(file, ".yml") %>
     <option value="<%= locale %>" <%= "SELECTED" if locale == options[:select] %>><%= t("locales.#{locale}", :default => locale) %></option>
	<% end %>
<% end %>	
</select>
