/* Opal Core CSS */

/* HTML  */
html,body {height: 100%;margin:0px;padding:0px;}
textarea{overflow:auto;}
td{vertical-align:top;}
p{margin:0px 0px 20px 0px;}

/*  Layout */
#wrapper{height:auto !important; height:100%; min-height:100%;position:relative;}
#wrapper > #header{width: 900px ; margin: 0 auto ;;}
#wrapper > #content{width: 900px ;margin: 0 auto ;height:100%}
		#wrapper > #content #main, div.main{width:660px;float:left;}
		#wrapper > #content #side, div.side{width:230px;float:left;padding-right:10px}
#wrapper > #footer{position:absolute;bottom:0;width:100%;padding:5px 0px 0px 0px;;text-align:center;}


/* Links */
a:visited, a:link{outline: none;}
a:hover{outline: none;}
a.transparent:visited, a.transparent:link{text-decoration:none;;opacity:0.70;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7} a.transparent:hover{text-decoration:none;opacity:1.00;filter:alpha(opacity=100);-moz-opacity:1.0;-khtml-opacity: 1.0}

/* Images */
a img{border:0px;}
img.icon, img.bullet{vertical-align:middle;border:0px;}
img.help{cursor:help;}

/* Cursors */
.pointer{cursor:pointer;}

/* Tables & Cells */
td.icon_column{width:20px;vertical-align:middle;text-align:center}
td.left{padding-right:10px}
td.right{padding-left:10px}

/* Interaction States(Selection, Hovering, Sorting, Etc.) */
.hoverable{opacity:0.90;filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity: 0.9;}
.hover{opacity:1.00;filter:alpha(opacity=100);-moz-opacity:1.0;-khtml-opacity: 1.0;}
.disabled{opacity:0.50;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;}

ul.sortable, ul.collapsed{margin:0px;padding:0px;list-style-type:none;}
	ul.sortable li, ul.collapsed li{list-style-image:none;padding:0px;margin:0px;}
	ul.sortable li{cursor:move;}
	ul.sortable li ul.sortable li{;padding:0px 0px 0px 20px;}

/* Item Lists */

/* Item Page */
.plugins .plugin_box{clear:both}

/* Sections */
.section{}
	.section .header{margin-bottom:5px}
	.section .header td{vertical-align:middle}

/* Other Stuff */
.indent{padding-left:7px;}
	.indent td{padding:2px 0px 2px 0px;}
.navlinks{margin-bottom:10px;}
.tooltip {display:none;z-index:999}

/* Notice Messages(Success and Failure Boxes) & Error Styles */
.notice{text-align:center;} /* This is the div that contains all notice messages. */

/* Pagination */
.pagination{text-align:center;}

/* Simple Captcha */
input#captcha{font-size:24px;width:110px;}
div.simple_captcha_image{}
#simple_captcha td{vertical-align:middle}
	
/* jQuery TOOLS - Accordian Tab CSS */
#accordion {width: 100%;}/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion h2.accordion_tab {cursor:pointer;clear:both}/* accordion header */
#accordion h2.current {	cursor:default;-moz-border-radius: 0px;-webkit-border-radius: 0px;	}/* currently active header */
#accordion div.pane {	display:none;}/* accordion pane */


/* Forms, Fields & Inputs */
.form_box input, .form_box select, .form_box textarea{margin-bottom:12px;}
.field{margin:10px 0px}
	.field input{vertical-align:middle}
	.field .description{padding:0px 0px 0px 25px} 


/* Other Stuff */
.main_content_top_bar{height:25px;}
.will_paginate{clear:both}









